<div class="container">
    <div class="row">
      <form class="p-3" [formGroup]="dataForm" (ngSubmit)="submitForm()" novalidate>
        <h2>Formulario</h2>
        <div class="form-group p-3">
            <label>Imagen de Perfil
                <input #file type="file" class="form-control-file" id="file" (change)="fileUpload($event.target.files)" formControlName="avatar" name="avatar" (change)="preview(file.files)" accept="image/x-png,image/gif,image/jpeg">
                <img [src]="imgURL" height="200" *ngIf="imgURL">
                <small *ngIf="isSubmitted && errorControl.avatar.errors?.required">
                    La imagen de perfil es necesaria.
                </small>
            </label>
          </div>
        <div class="form-group p-3">
            <label>Nombres
                <input type="text" class="form-control" name="firstName" formControlName="firstName">
                <small *ngIf="isSubmitted && errorControl.firstName.errors?.required">
                    Los nombres son necesarios.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Apellidos
                <input type="text" class="form-control" name="lastName" formControlName="lastName">
                <small *ngIf="isSubmitted && errorControl.lastName.errors?.required">
                    Los apellidos son necesarios.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Género
                <select class="form-control" name="gender" formControlName="gender">
                    <option value="male">Hombre</option>
                    <option value="female">Mujer</option>
                    <option value="other">Otro</option>
                </select>
                <small *ngIf="isSubmitted && errorControl.gender.errors?.required">
                    Seleccione uno.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Fecha de Nacimiento
                <input type="date" class="form-control" name="dateOfBirth" placeholder="dd/mm/aaaa" formControlName="dateOfBirth">
                <small *ngIf="isSubmitted && errorControl.dateOfBirth.errors?.required">
                    La fecha de nacimiento es necesaria.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Cédula
                <input type="text" appOnlynumber class="form-control" name="idNumber" formControlName="idNumber" minlength="9" maxlength="10" idValidator>
                <small *ngIf="isSubmitted && errorControl.idNumber.errors?.required">
                    La cédula es necesaria.
                </small>
                <small *ngIf="isSubmitted && errorControl.idNumber.errors?.minLength">
                    Debe ingresar 10 números.
                </small>
                <small *ngIf="isSubmitted && errorControl.idNumber.errors?.max">
                    Debe ingresar 10 números.
                </small>
                <small *ngIf="isSubmitted && !errorControl.idNumber.errors?.minLength && errorControl.idNumber.errors?.idValidator">
                    {{errorControl.idNumber.errors?.idValidator}}
                </small>
                <small *ngIf="isSubmitted && !errorControl.idNumber.errors?.minLength && errorControl.idNumber.errors?.pattern">
                    Documento inválido.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Teléfono Convencional
                <input type="text" appOnlynumber class="form-control" id="phoneNumber" formControlName="phoneNumber" minlength="7" maxlength="10">
                <small *ngIf="isSubmitted && errorControl.phoneNumber.errors?.required">
                    El teléfono convencional es necesario.
                </small>
                <small *ngIf="isSubmitted && errorControl.phoneNumber.errors?.minLength">
                    Debe ingresar 7 números mínimo.
                </small>
                <small *ngIf="isSubmitted && errorControl.phoneNumber.errors?.max">
                    Debe ingresar 9 números máximo.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Teléfono Celular
                <input type="text" appOnlynumber class="form-control" name="cellphoneNumber" formControlName="cellphoneNumber" minlength="9" maxlength="10">
                <small *ngIf="isSubmitted && errorControl.cellphoneNumber.errors?.required">
                    El teléfono celular es necesario.
                </small>
                <small *ngIf="isSubmitted && errorControl.cellphoneNumber.errors?.minLength">
                    Debe ingresar 10 números.
                </small>
                <small *ngIf="isSubmitted && errorControl.cellphoneNumber.errors?.max">
                    Debe ingresar 10 números.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Número de Emergencia
                <input type="text" appOnlynumber class="form-control" name="emergencyPhone" formControlName="emergencyPhone" minlength="7" maxlength="10">
                <small *ngIf="isSubmitted && errorControl.emergencyPhone.errors?.required">
                    El número de emergencia es necesario.
                </small>
                <small *ngIf="isSubmitted && errorControl.emergencyPhone.errors?.minLength">
                    Debe ingresar 7 números mínimo.
                </small>
                <small *ngIf="isSubmitted && errorControl.emergencyPhone.errors?.max">
                    Debe ingresar 10 números máximo.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Provincia
                <select class="form-control" name="province" formControlName="province" (change)="check($event)">
                    <option value="Azuay — 02">Azuay — 02</option>
                    <option value="Bolívar — 03">Bolívar — 03</option>
                    <option value="Cañar — 07">Cañar — 07</option>
                    <option value="Carchi — 06">Carchi — 06</option>
                    <option value="Chimborazo — 03">Chimborazo — 03</option>
                    <option value="Cotopaxi — 03">Cotopaxi — 03</option>
                    <option value="El Oro — 07">El Oro — 07</option>
                    <option value="Esmeraldas — 06">Esmeraldas — 06</option>
                    <option value="Galápagos — 05">Galápagos — 05</option>
                    <option value="Guayas — 04">Guayas — 04</option>
                    <option value="Imbabura — 06">Imbabura — 06</option>
                    <option value="Loja — 07">Loja — 07</option>
                    <option value="Los Ríos — 05">Los Ríos — 05</option>
                    <option value="Manabí — 05">Manabí — 05</option>
                    <option value="Morona Santiago — 07">Morona Santiago — 07</option>
                    <option value="Napo — 06">Napo — 06</option>
                    <option value="Orellana — 06">Orellana — 06</option>
                    <option value="Pastaza — 03">Pastaza — 03</option>
                    <option value="Pichincha — 02">Pichincha — 02</option>
                    <option value="Santa Elena — 04">Santa Elena — 04</option>
                    <option value="Santo Domingo — 02">Santo Domingo — 02</option>
                    <option value="Sucumbíos — 06">Sucumbíos — 06</option>
                    <option value="Tungurahua — 03">Tungurahua — 03</option>
                    <option value="Zamora Chinchipe — 07">Zamora Chinchipe — 07</option>
                </select>
                <small *ngIf="isSubmitted && errorControl.province.errors?.required">
                    La provincia es necesaria.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Cantón
                <select class="form-control" name="canton" formControlName="canton">
                    <option *ngFor="let item of cantones" value="{{item.name}}" innerHTML="{{item.name}}"></option>
                </select>
                <small *ngIf="isSubmitted && errorControl.canton.errors?.required">
                    La provincia es necesaria.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Ciudad
                <input type="text" class="form-control" name="city" formControlName="city">
                <small *ngIf="isSubmitted && errorControl.city.errors?.required">
                    La ciudad es necesaria.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Barrio
                <input type="text" class="form-control" name="neighborhood" formControlName="neighborhood">
                <small *ngIf="isSubmitted && errorControl.neighborhood.errors?.required">
                    El barrio es necesario.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Calle Principal
                <input type="text" class="form-control" name="mainStreet" formControlName="mainStreet">
                <small *ngIf="isSubmitted && errorControl.mainStreet.errors?.required">
                    La calle principal es necesaria.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Nomenclatura
                <input type="text" class="form-control" name="nomenclature" formControlName="nomenclature">
                <small *ngIf="isSubmitted && errorControl.nomenclature.errors?.required">
                    La nomenclatura es necesaria.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Calle Secundaria
                <input type="text" class="form-control" name="secondaryStreet" formControlName="secondaryStreet">
                <small *ngIf="isSubmitted && errorControl.secondaryStreet.errors?.required">
                    La calle secundaria es necesaria.
                </small>
            </label>
        </div>
        <h2>Información Tributaria</h2>
        <div class="form-group p-3">
            <h4>Seleccione una: </h4>
            <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="taxType" type="radio" name="taxType" id="CB1" formControlName="taxType" value="ruc">
                <label class="form-check-label" for="CB1">RUC</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="taxType" type="radio" name="taxType" id="CB2" formControlName="taxType" value="rise">
                <label class="form-check-label" for="CB2">RISE</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="taxType" type="radio" name="taxType" id="CB3" formControlName="taxType" value="none">
                <label class="form-check-label" for="CB3">Ninguna</label>
              </div>
              <small *ngIf="isSubmitted && errorControl.taxType.errors?.required">
                La información tributaria es necesaria.
              </small>
        </div>
        <div class="form-group p-3" *ngIf="taxType == 'ruc'">
            <label>RUC
                <input type="text" appOnlynumber class="form-control" name="taxNumberRuc" formControlName="taxNumberRuc" minlength="12" maxlength="13" idValidator>
            </label>
            <small *ngIf="isSubmitted && errorControl.taxNumberRuc.errors?.required">
                Complete este campo, por favor.
            </small>
            <small *ngIf="isSubmitted && errorControl.taxNumberRuc.errors?.minLength">
                Debe ingresar 13 números.
            </small>
            <small *ngIf="isSubmitted && errorControl.taxNumberRuc.errors?.max">
                Debe ingresar 13 números.
            </small>
            <small *ngIf="isSubmitted && !errorControl.taxNumberRuc.errors?.minLength && errorControl.taxNumberRuc.errors?.idValidator">
                {{errorControl.taxNumberRuc.errors?.idValidator}}
            </small>
            <small *ngIf="isSubmitted && !errorControl.taxNumberRuc.errors?.minLength && errorControl.taxNumberRuc.errors?.pattern">
                Documento inválido.
            </small>
        </div>
        <div class="form-group p-3" *ngIf="taxType == 'rise'">
            <label>RISE
                <input type="text" appOnlynumber class="form-control" name="taxNumberRise" formControlName="taxNumberRise" minlength="9" maxlength="10" idValidator>
            </label>
            <small *ngIf="isSubmitted && errorControl.taxNumberRise.errors?.required">
                Complete este campo, por favor.
            </small>
            <small *ngIf="isSubmitted && errorControl.taxNumberRise.errors?.minLength">
                Debe ingresar 13 números.
            </small>
            <small *ngIf="isSubmitted && errorControl.taxNumberRise.errors?.max">
                Debe ingresar 13 números.
            </small>
            <small *ngIf="isSubmitted && !errorControl.taxNumberRise.errors?.minLength && errorControl.taxNumberRise.errors?.idValidator">
                {{errorControl.taxNumberRise.errors?.idValidator}}
            </small>
            <small *ngIf="isSubmitted && !errorControl.taxNumberRise.errors?.minLength && errorControl.taxNumberRise.errors?.pattern">
                Documento inválido.
            </small>
        </div>
        <div class="form-group p-3 w-100" *ngIf="taxType == 'ruc'">
            <h4>Está obligado a llevar contabilidad</h4>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="keepAccounting" formControlName="keepAccounting" id="CBtrue" value="true">
                <label class="form-check-label" for="CBtrue">Sí</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="keepAccounting" formControlName="keepAccounting" id="CBfalse" value="false">
                <label class="form-check-label" for="CBfalse">No</label>
              </div>
              <small *ngIf="isSubmitted && errorControl.keepAccounting.errors?.required">
                Por favor, rellene este campo.
              </small>
        </div>
        <h2>Información de Locales</h2>
        <div class="form-group p-3 w-100">
            <h4>En su negocio, usted es:</h4>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="personType" formControlName="personType" id="CBa" value="Propietario">
                <label class="form-check-label" for="CBa">Propietario</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="personType" formControlName="personType" id="CBe" value="Arrendatario">
                <label class="form-check-label" for="CBe">Arrendatario</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="personType" formControlName="personType" id="CBi" value="Posecionario">
                <label class="form-check-label" for="CBi">Posecionario</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="personType" formControlName="personType" id="CB4" value="Comodatario">
                <label class="form-check-label" for="CB4">Comodatario</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="personType" formControlName="personType" id="CB5" value="Apoderado">
                <label class="form-check-label" for="CB5">Apoderado</label>
              </div>
              <small *ngIf="isSubmitted && errorControl.personType.errors?.required">
                Por favor, rellene este campo.
              </small>
        </div>
        <div class="form-group p-3">
            <label>Nombre Comercial del Negocio
                <input type="text" class="form-control" name="businessName" formControlName="businessName">
                <small *ngIf="isSubmitted && errorControl.businessName.errors?.required">
                    El nombre del negocio es necesario.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Razón Social
                <input type="text" class="form-control" name="socialReason" formControlName="socialReason">
                <small *ngIf="isSubmitted && errorControl.socialReason.errors?.required">
                    La razón social es necesaria.
                </small>
            </label>
        </div>
        <div class="form-group p-3 productos">
            <label>Producto
                <select class="form-control" [(ngModel)]="productsBeingSold" name="productsBeingSold" formControlName="productsBeingSold">
                    <option value="Blusas">Blusas</option>
                    <option value="Calzado">Calzado</option>
                    <option value="Camisa">Camisa</option>
                    <option value="Camisetas">Camisetas</option>
                    <option value="Chompas">Chompas</option>
                    <option value="Jean">Jean</option>
                    <option value="Lencería">Lencería</option>
                    <option value="Pantalón de Tela">Pantalón de Tela</option>
                    <option value="Ropa de bebé">Ropa de bebé</option>
                    <option value="Ropa de dormir">Ropa de dormir</option>
                    <option value="Ropa de cuero">Ropa de cuero</option>
                    <option value="Ropa de Niños">Ropa de Niños</option>
                    <option value="Suéter">Suéter</option>
                    <option value="Trajes hombre">Trajes hombre</option>
                    <option value="Trajes mujer">Trajes mujer</option>
                    <option value="Varios">Varios</option>
                </select>
                <small *ngIf="isSubmitted && errorControl.productsBeingSold.errors?.required">
                    Seleccione uno.
                </small>
                <select class="form-control" [(ngModel)]="productsBeingSoldSec" name="productsBeingSoldSec" formControlName="productsBeingSoldSec" *ngIf="productsBeingSold">
                    <option value="">Seleccione otro (Opcional)</option>
                    <option value="Blusas" *ngIf="productsBeingSold != 'Blusas'">Blusas</option>
                    <option value="Calzado" *ngIf="productsBeingSold != 'Calzado'">Calzado</option>
                    <option value="Camisa" *ngIf="productsBeingSold != 'Camisa'">Camisa</option>
                    <option value="Camisetas" *ngIf="productsBeingSold != 'Camisetas'">Camisetas</option>
                    <option value="Chompas" *ngIf="productsBeingSold != 'Chompas'">Chompas</option>
                    <option value="Jean" *ngIf="productsBeingSold != 'Jean'">Jean</option>
                    <option value="Lencería" *ngIf="productsBeingSold != 'Lencería'">Lencería</option>
                    <option value="Pantalón de Tela" *ngIf="productsBeingSold != 'Pantalón de Tela'">Pantalón de Tela</option>
                    <option value="Ropa de bebé" *ngIf="productsBeingSold != 'Ropa de bebé'">Ropa de bebé</option>
                    <option value="Ropa de dormir" *ngIf="productsBeingSold != 'Ropa de dormir'">Ropa de dormir</option>
                    <option value="Ropa de cuero" *ngIf="productsBeingSold != 'Ropa de cuero'">Ropa de cuero</option>
                    <option value="Ropa de Niños" *ngIf="productsBeingSold != 'Ropa de Niños'">Ropa de Niños</option>
                    <option value="Suéter" *ngIf="productsBeingSold != 'Suéter'">Suéter</option>
                    <option value="Trajes hombre" *ngIf="productsBeingSold != 'Trajes hombre'">Trajes hombre</option>
                    <option value="Trajes mujer" *ngIf="productsBeingSold != 'Trajes mujer'">Trajes mujer</option>
                    <option value="Varios" *ngIf="productsBeingSold != 'Varios'">Varios</option>
                </select>
                <small *ngIf="isSubmitted && errorControl.productsBeingSoldSec.errors?.required">
                    Seleccione uno.
                </small>
                <select class="form-control" [(ngModel)]="productsBeingSoldTri" name="productsBeingSoldTri" formControlName="productsBeingSoldTri" *ngIf="productsBeingSoldSec && productsBeingSold">
                    <option value="">Seleccione otro (Opcional)</option>
                    <option value="Blusas" *ngIf="productsBeingSoldSec != 'Blusas' && productsBeingSold != 'Blusas'">Blusas</option>
                    <option value="Calzado" *ngIf="productsBeingSoldSec != 'Calzado' && productsBeingSold != 'Calzado'">Calzado</option>
                    <option value="Camisa" *ngIf="productsBeingSoldSec != 'Camisa' && productsBeingSold != 'Camisa'">Camisa</option>
                    <option value="Camisetas" *ngIf="productsBeingSoldSec != 'Camisetas' && productsBeingSold != 'Camisetas'">Camisetas</option>
                    <option value="Chompas" *ngIf="productsBeingSoldSec != 'Chompas' && productsBeingSold != 'Chompas'">Chompas</option>
                    <option value="Jean" *ngIf="productsBeingSoldSec != 'Jean' && productsBeingSold != 'Jean'">Jean</option>
                    <option value="Lencería" *ngIf="productsBeingSoldSec != 'Lencería' && productsBeingSold != 'Lencería'">Lencería</option>
                    <option value="Pantalón de Tela" *ngIf="productsBeingSoldSec != 'Pantalón de Tela' && productsBeingSold != 'Pantalón de Tela'">Pantalón de Tela</option>
                    <option value="Ropa de bebé" *ngIf="productsBeingSoldSec != 'Ropa de bebé' && productsBeingSold != 'Ropa de bebé'">Ropa de bebé</option>
                    <option value="Ropa de dormir" *ngIf="productsBeingSoldSec != 'Ropa de dormir' && productsBeingSold != 'Ropa de dormir'">Ropa de dormir</option>
                    <option value="Ropa de cuero" *ngIf="productsBeingSoldSec != 'Ropa de cuero' && productsBeingSold != 'Ropa de cuero'">Ropa de cuero</option>
                    <option value="Ropa de Niños" *ngIf="productsBeingSoldSec != 'Ropa de Niños' && productsBeingSold != 'Ropa de Niños'">Ropa de Niños</option>
                    <option value="Suéter" *ngIf="productsBeingSoldSec != 'Suéter' && productsBeingSold != 'Suéter'">Suéter</option>
                    <option value="Trajes hombre" *ngIf="productsBeingSoldSec != 'Trajes hombre' && productsBeingSold != 'Trajes hombre'">Trajes hombre</option>
                    <option value="Trajes mujer" *ngIf="productsBeingSoldSec != 'Trajes mujer' && productsBeingSold != 'Trajes mujer'">Trajes mujer</option>
                    <option value="Varios" *ngIf="productsBeingSoldSec != 'Varios' && productsBeingSold != 'Varios'">Varios</option>
                </select>
                <small *ngIf="isSubmitted && errorControl.productsBeingSoldTri.errors?.required">
                    Seleccione uno.
                </small>
                <select class="form-control" [(ngModel)]="productsBeingSoldCua" name="productsBeingSoldCua" formControlName="productsBeingSoldCua" *ngIf="productsBeingSoldTri && productsBeingSoldSec && productsBeingSold">
                    <option value="">Seleccione otro (Opcional)</option>
                    <option value="Blusas" *ngIf="productsBeingSoldTri != 'Blusas' && productsBeingSoldSec != 'Blusas' && productsBeingSold != 'Blusas'">Blusas</option>
                    <option value="Calzado" *ngIf="productsBeingSoldTri != 'Calzado' && productsBeingSoldSec != 'Calzado' && productsBeingSold != 'Calzado'">Calzado</option>
                    <option value="Camisa" *ngIf="productsBeingSoldTri != 'Camisa' && productsBeingSoldSec != 'Camisa' && productsBeingSold != 'Camisa'">Camisa</option>
                    <option value="Camisetas" *ngIf="productsBeingSoldTri != 'Camisetas' && productsBeingSoldSec != 'Camisetas' && productsBeingSold != 'Camisetas'">Camisetas</option>
                    <option value="Chompas" *ngIf="productsBeingSoldTri != 'Chompas' && productsBeingSoldSec != 'Chompas' && productsBeingSold != 'Chompas'">Chompas</option>
                    <option value="Jean" *ngIf="productsBeingSoldTri != 'Jean' && productsBeingSoldSec != 'Jean' && productsBeingSold != 'Jean'">Jean</option>
                    <option value="Lencería" *ngIf="productsBeingSoldTri != 'Lencería' && productsBeingSoldSec != 'Lencería' && productsBeingSold != 'Lencería'">Lencería</option>
                    <option value="Pantalón de Tela" *ngIf="productsBeingSoldTri != 'Pantalón de Tela' && productsBeingSoldSec != 'Pantalón de Tela' && productsBeingSold != 'Pantalón de Tela'">Pantalón de Tela</option>
                    <option value="Ropa de bebé" *ngIf="productsBeingSoldTri != 'Ropa de bebé' && productsBeingSoldSec != 'Ropa de bebé' && productsBeingSold != 'Ropa de bebé'">Ropa de bebé</option>
                    <option value="Ropa de dormir" *ngIf="productsBeingSoldTri != 'Ropa de dormir' && productsBeingSoldSec != 'Ropa de dormir' && productsBeingSold != 'Ropa de dormir'">Ropa de dormir</option>
                    <option value="Ropa de cuero" *ngIf="productsBeingSoldTri != 'Ropa de cuero' && productsBeingSoldSec != 'Ropa de cuero' && productsBeingSold != 'Ropa de cuero'">Ropa de cuero</option>
                    <option value="Ropa de Niños" *ngIf="productsBeingSoldTri != 'Ropa de Niños' && productsBeingSoldSec != 'Ropa de Niños' && productsBeingSold != 'Ropa de Niños'">Ropa de Niños</option>
                    <option value="Suéter" *ngIf="productsBeingSoldTri != 'Suéter' && productsBeingSoldSec != 'Suéter' && productsBeingSold != 'Suéter'">Suéter</option>
                    <option value="Trajes hombre" *ngIf="productsBeingSoldTri != 'Trajes hombre' && productsBeingSoldSec != 'Trajes hombre' && productsBeingSold != 'Trajes hombre'">Trajes hombre</option>
                    <option value="Trajes mujer" *ngIf="productsBeingSoldTri != 'Trajes mujer' && productsBeingSoldSec != 'Trajes mujer' && productsBeingSold != 'Trajes mujer'">Trajes mujer</option>
                    <option value="Varios" *ngIf="productsBeingSoldTri != 'Varios' && productsBeingSoldSec != 'Varios' && productsBeingSold != 'Varios'">Varios</option>
                </select>
                <small *ngIf="isSubmitted && errorControl.productsBeingSoldCua.errors?.required">
                    Seleccione uno.
                </small>
                <select class="form-control" name="productsBeingSoldQui" formControlName="productsBeingSoldQui" *ngIf="productsBeingSoldCua && productsBeingSoldTri && productsBeingSoldSec && productsBeingSold">
                    <option value="">Seleccione otro (Opcional)</option>
                    <option value="Blusas" *ngIf="productsBeingSoldCua != 'Blusas' && productsBeingSoldTri != 'Blusas' && productsBeingSoldSec != 'Blusas' && productsBeingSold != 'Blusas'">Blusas</option>
                    <option value="Calzado" *ngIf="productsBeingSoldCua != 'Calzado' && productsBeingSoldTri != 'Calzado' && productsBeingSoldSec != 'Calzado' && productsBeingSold != 'Calzado'">Calzado</option>
                    <option value="Camisa" *ngIf="productsBeingSoldCua != 'Camisa' && productsBeingSoldTri != 'Camisa' && productsBeingSoldSec != 'Camisa' && productsBeingSold != 'Camisa'">Camisa</option>
                    <option value="Camisetas" *ngIf="productsBeingSoldCua != 'Camisetas' && productsBeingSoldTri != 'Camisetas' && productsBeingSoldSec != 'Camisetas' && productsBeingSold != 'Camisetas'">Camisetas</option>
                    <option value="Chompas" *ngIf="productsBeingSoldCua != 'Chompas' && productsBeingSoldTri != 'Chompas' && productsBeingSoldSec != 'Chompas' && productsBeingSold != 'Chompas'">Chompas</option>
                    <option value="Jean" *ngIf="productsBeingSoldCua != 'Jean' && productsBeingSoldTri != 'Jean' && productsBeingSoldSec != 'Jean' && productsBeingSold != 'Jean'">Jean</option>
                    <option value="Lencería" *ngIf="productsBeingSoldCua != 'Lencería' && productsBeingSoldTri != 'Lencería' && productsBeingSoldSec != 'Lencería' && productsBeingSold != 'Lencería'">Lencería</option>
                    <option value="Pantalón de Tela" *ngIf="productsBeingSoldCua != 'Pantalón de Tela' && productsBeingSoldTri != 'Pantalón de Tela' && productsBeingSoldSec != 'Pantalón de Tela' && productsBeingSold != 'Pantalón de Tela'">Pantalón de Tela</option>
                    <option value="Ropa de bebé" *ngIf="productsBeingSoldCua != 'Ropa de bebé' && productsBeingSoldTri != 'Ropa de bebé' && productsBeingSoldSec != 'Ropa de bebé' && productsBeingSold != 'Ropa de bebé'">Ropa de bebé</option>
                    <option value="Ropa de dormir" *ngIf="productsBeingSoldCua != 'Ropa de dormir' && productsBeingSoldTri != 'Ropa de dormir' && productsBeingSoldSec != 'Ropa de dormir' && productsBeingSold != 'Ropa de dormir'">Ropa de dormir</option>
                    <option value="Ropa de cuero" *ngIf="productsBeingSoldCua != 'Ropa de cuero' && productsBeingSoldTri != 'Ropa de cuero' && productsBeingSoldSec != 'Ropa de cuero' && productsBeingSold != 'Ropa de cuero'">Ropa de cuero</option>
                    <option value="Ropa de Niños" *ngIf="productsBeingSoldCua != 'Ropa de Niños' && productsBeingSoldTri != 'Ropa de Niños' && productsBeingSoldSec != 'Ropa de Niños' && productsBeingSold != 'Ropa de Niños'">Ropa de Niños</option>
                    <option value="Suéter" *ngIf="productsBeingSoldCua != 'Suéter' && productsBeingSoldTri != 'Suéter' && productsBeingSoldSec != 'Suéter' && productsBeingSold != 'Suéter'">Suéter</option>
                    <option value="Trajes hombre" *ngIf="productsBeingSoldCua != 'Trajes hombre' && productsBeingSoldTri != 'Trajes hombre' && productsBeingSoldSec != 'Trajes hombre' && productsBeingSold != 'Trajes hombre'">Trajes hombre</option>
                    <option value="Trajes mujer" *ngIf="productsBeingSoldCua != 'Trajes mujer' && productsBeingSoldTri != 'Trajes mujer' && productsBeingSoldSec != 'Trajes mujer' && productsBeingSold != 'Trajes mujer'">Trajes mujer</option>
                    <option value="Varios" *ngIf="productsBeingSoldCua != 'Varios' && productsBeingSoldTri != 'Varios' && productsBeingSoldSec != 'Varios' && productsBeingSold != 'Varios'">Varios</option>
                </select>
                <small *ngIf="isSubmitted && errorControl.productsBeingSoldQui.errors?.required">
                    Seleccione uno.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Cantidad de Locales
                <select class="form-control" name="numberLocals" [(ngModel)]="numberLocals" formControlName="numberLocals">
                    <option value="1">1 local</option>
                    <option value="2">2 locales</option>
                    <option value="3">3 locales</option>
                </select>
                <small *ngIf="isSubmitted && errorControl.numberLocals.errors?.required">
                    Seleccione una.
                </small>
            </label>
        </div>
        <div class="form-group p-3" *ngIf="numberLocals">
            <label>Asociación del primer local
                <select class="form-control" name="sectorOne" formControlName="sectorOne">
                    <option value="none">Ninguna</option>
                    <option value="2 de Octubre">2 de Octubre</option>
                    <option value="El Cebollar">El Cebollar</option>
                    <option value="La Campana">La Campana</option>
                    <option value="24 de Mayo">24 de Mayo</option>
                    <option value="29 de Enero">29 de Enero</option>
                    <option value="Chimborazo">Chimborazo</option>
                    <option value="Alianza Para el Progreso">Alianza Para el Progreso</option>
                    <option value="Tungurahua">Tungurahua</option>
                    <option value="12 de Febrero">12 de Febrero</option>
                </select>
                <small *ngIf="isSubmitted && errorControl.sectorOne.errors?.required">
                    Seleccione uno.
                </small>
            </label>
            <label *ngIf="numberLocals == '2' || numberLocals == '3'">Asociación del segundo local
                <select class="form-control" name="sectorTwo" formControlName="sectorTwo">
                    <option value="none">Ninguna</option>
                    <option value="2 de Octubre">2 de Octubre</option>
                    <option value="El Cebollar">El Cebollar</option>
                    <option value="La Campana">La Campana</option>
                    <option value="24 de Mayo">24 de Mayo</option>
                    <option value="29 de Enero">29 de Enero</option>
                    <option value="Chimborazo">Chimborazo</option>
                    <option value="Alianza Para el Progreso">Alianza Para el Progreso</option>
                    <option value="Tungurahua">Tungurahua</option>
                    <option value="12 de Febrero">12 de Febrero</option>
                </select>
                <small *ngIf="isSubmitted && errorControl.sectorTwo.errors?.required">
                    Seleccione uno.
                </small>
            </label>
            <label *ngIf="numberLocals == '3'">Asociación del tercer local
                <select class="form-control" name="sectorTri" formControlName="sectorTri">
                    <option value="none">Ninguna</option>
                    <option value="2 de Octubre">2 de Octubre</option>
                    <option value="El Cebollar">El Cebollar</option>
                    <option value="La Campana">La Campana</option>
                    <option value="24 de Mayo">24 de Mayo</option>
                    <option value="29 de Enero">29 de Enero</option>
                    <option value="Chimborazo">Chimborazo</option>
                    <option value="Alianza Para el Progreso">Alianza Para el Progreso</option>
                    <option value="Tungurahua">Tungurahua</option>
                    <option value="12 de Febrero">12 de Febrero</option>
                </select>
                <small *ngIf="isSubmitted && errorControl.sectorTri.errors?.required">
                    Seleccione uno.
                </small>
            </label>
        </div>
        <div *ngIf="numberLocals" class="form-group p-3">
            <label>Número del Local
                <input type="text" appOnlynumber class="form-control" name="localNumberOne" formControlName="localNumberOne" placeholder="Número del primer local">
                <small *ngIf="isSubmitted && errorControl.localNumberOne.errors?.required">
                    El número del local es necesario.
                </small>
            </label>
            <label *ngIf="numberLocals == '2' || numberLocals == '3'">Número de Local
                <input type="text" appOnlynumber class="form-control" name="localNumberTwo" formControlName="localNumberTwo" placeholder="Número del segundo local">
                <small *ngIf="isSubmitted && errorControl.localNumberTwo.errors?.required">
                    El número del local es necesario.
                </small>
            </label>
            <label *ngIf="numberLocals == '3'">Número de Local
                <input type="text" appOnlynumber class="form-control" name="localNumberTri" formControlName="localNumberTri" placeholder="Número del tercer local">
                <small *ngIf="isSubmitted && errorControl.localNumberTri.errors?.required">
                    El número del local es necesario.
                </small>
            </label>
        </div>
        <div *ngIf="numberLocals" class="form-group p-3">
            <label>Número de Predio
                <input type="text" appOnlynumber class="form-control" name="predioNumberOne" placeholder="Primer Local" formControlName="predioNumberOne">
                <small *ngIf="isSubmitted && errorControl.predioNumberOne.errors?.required">
                    El predio es necesario.
                </small>
            </label>
            <label *ngIf="numberLocals == '2' || numberLocals == '3'">Número de Predio
                <input type="text" appOnlynumber class="form-control" placeholder="Segundo Local" name="predioNumberTwo" formControlName="predioNumberTwo">
                <small *ngIf="isSubmitted && errorControl.predioNumberTwo.errors?.required">
                    El predio es necesario.
                </small>
            </label>
            <label *ngIf="numberLocals == '3'">Número de Predio
                <input type="text" appOnlynumber class="form-control" placeholder="Tercer Local" name="predioNumberTri" formControlName="predioNumberTri">
                <small *ngIf="isSubmitted && errorControl.predioNumberTri.errors?.required">
                    El predio es necesario.
                </small>
            </label>
        </div>
        <div *ngIf="numberLocals" class="form-group p-3">
            <label>Número de Pasillo
                <input type="text" class="form-control" name="hallNumberOne" formControlName="hallNumberOne" placeholder="Número de Pasillo del primer local">
                <small *ngIf="isSubmitted && errorControl.hallNumberOne.errors?.required">
                    El número del pasillo es necesario.
                </small>
                <small *ngIf="isSubmitted && errorControl.hallNumberOne.errors?.pattern">
                    Debe ingresar el número seguido de la letra.
                </small>
            </label>
            <label *ngIf="numberLocals == '2' || numberLocals == '3'">Número de Pasillo
                <input type="text" class="form-control" name="hallNumberTwo" formControlName="hallNumberTwo" placeholder="Número de Pasillo del segundo local">
                <small *ngIf="isSubmitted && errorControl.hallNumberTwo.errors?.required">
                    El número del pasillo es necesario.
                </small>
                <small *ngIf="isSubmitted && errorControl.hallNumberTwo.errors?.pattern">
                    Debe ingresar el número seguido de la letra.
                </small>
            </label>
            <label *ngIf="numberLocals == '3'">Número de Pasillo
                <input type="text" class="form-control" name="hallNumberTri" formControlName="hallNumberTri" placeholder="Número de Pasillo del tercer local">
                <small *ngIf="isSubmitted && errorControl.hallNumberTri.errors?.required">
                    El número del pasillo es necesario.
                </small>
                <small *ngIf="isSubmitted && errorControl.hallNumberTri.errors?.pattern">
                    Debe ingresar el número seguido de la letra.
                </small>
            </label>
        </div>
        <div *ngIf="numberLocals" class="form-group p-3">
            <h4>Planta del primer local</h4>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="floorOne" formControlName="floorOne" value="top">
                Planta Baja</label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="floorOne" formControlName="floorOne" value="bottom">
                Planta Alta</label>
              </div>
                <small *ngIf="isSubmitted && errorControl.floorOne.errors?.required">
                    Seleccione uno.
                </small>
            <div *ngIf="numberLocals == '2' || numberLocals == '3'">
                <h4>Planta del segundo local</h4>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="floorTwo" formControlName="floorTwo" value="top">
                    Planta Baja</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="floorTwo" formControlName="floorTwo" value="bottom">
                    Planta Alta</label>
                  </div>
                  <small *ngIf="isSubmitted && errorControl.floorTwo.errors?.required">
                    Seleccione uno.
                </small>
            </div>
            <div *ngIf="numberLocals == '3'">
                <h4>Planta del tercer local</h4>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="floorTri" formControlName="floorTri" value="top">
                    Planta Baja</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="floorTri" formControlName="floorTri" value="bottom">
                    Planta Alta</label>
                  </div>
                  <small *ngIf="isSubmitted && errorControl.floorTri.errors?.required">
                    Seleccione uno.
                </small>
            </div>
        </div>
        <div class="form-group p-3">
            <label>Procedencia del Producto
                <select class="form-control" name="originOfProducts" formControlName="originOfProducts">
                    <option value="national">Nacional</option>
                    <option value="international">Internacional</option>
                    <option value="both">Ambas</option>
                </select>
                <small *ngIf="isSubmitted && errorControl.originOfProducts.errors?.required">
                    Seleccione una.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <h4>¿Es Artesano Calificado? </h4>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="qualifiedCraftman" [(ngModel)]="qualifiedCraftman" formControlName="qualifiedCraftman" id="CBsi" value="true">
                <label class="form-check-label" for="CBsi">Sí</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="qualifiedCraftman" [(ngModel)]="qualifiedCraftman" formControlName="qualifiedCraftman" id="CBno" value="false">
                <label class="form-check-label" for="CBno">No</label>
              </div>
              <small *ngIf="isSubmitted && errorControl.qualifiedCraftman.errors?.required">
                Seleccione una.
            </small>
        </div>
        <div class="form-group p-3" *ngIf="qualifiedCraftman == 'true'">
            <label>Número de Calificación Artesanal
                <input type="text" appOnlynumber class="form-control" name="craftmanCalification" formControlName="craftmanCalification">
                <small *ngIf="isSubmitted && errorControl.craftmanCalification.errors?.required">
                    Complete este campo.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <h4>Seleccione una </h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sellerType" formControlName="sellerType" id="CBfab" value="maker" checked>
                <label class="form-check-label" for="CBfab">Fabricante</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sellerType" formControlName="sellerType" id="CBcomer" value="marketer">
                <label class="form-check-label" for="CBcomer">Comercializador</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sellerType" formControlName="sellerType" id="CBambas" value="both">
                <label class="form-check-label" for="CBambas">Ambas</label>
              </div>
              <small *ngIf="isSubmitted && errorControl.sellerType.errors?.required">
                Seleccione una.
            </small>
        </div>
        <h2>Información Clínica</h2>
        <div class="form-group p-3">
            <label>Tipo de Sangre
                <select class="form-control" name="bloodType" formControlName="bloodType">
                    <option value="O+">O+</option>
                    <option value="A+">A+</option>
                    <option value="B+">B+</option>
                    <option value="AB+">AB+</option>
                    <option value="A+">A+</option>
                    <option value="O-">O-</option>
                    <option value="A-">A-</option>
                    <option value="B-">B-</option>
                    <option value="AB-">AB-</option>
                </select>
                <small *ngIf="isSubmitted && errorControl.bloodType.errors?.required">
                    Seleccione uno.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Peso
                <input type="number" placeholder="En kg" class="form-control" id="height" formControlName="height" step="any">
                <small *ngIf="isSubmitted && errorControl.height.errors?.required">
                    El peso es necesario.
                </small>
            </label>
        </div>
        <div class="w-100"></div>
        <div class="form-group p-3">
            <h4>¿Eres alérgico a un medicamento? </h4>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="allergy" [(ngModel)]="allergy" formControlName="allergy" id="CBmedsi" value="true">
                <label class="form-check-label" for="CBmedsi">Sí</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="allergy" [(ngModel)]="allergy" formControlName="allergy" id="CBmedno" value="false">
                <label class="form-check-label" for="CBmedno">No</label>
              </div>
              <small *ngIf="isSubmitted && errorControl.allergy.errors?.required">
                Complete este campo, por favor.
              </small>
        </div>
        <div class="form-group p-3" *ngIf="allergy == 'true'">
            <label>Ingrese el medicamento
                <input type="text" class="form-control" name="allergicTo" formControlName="allergicTo">
                <small *ngIf="isSubmitted && errorControl.allergicTo.errors?.required">
                    Complete este campo, por favor.
                </small>
            </label>
        </div>
        <div class="w-100"></div>
        <div class="form-group p-3">
            <h4>¿Consume algún medicamento? </h4>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="consumingMedicine" [(ngModel)]="consumingMedicine" formControlName="consumingMedicine" id="CBconsumesi" value="true">
                <label class="form-check-label" for="CBconsumesi">Sí</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="consumingMedicine" [(ngModel)]="consumingMedicine" formControlName="consumingMedicine" id="CBconsumeno" value="false">
                <label class="form-check-label" for="CBconsumeno">No</label>
              </div>
              <small *ngIf="isSubmitted && errorControl.consumingMedicine.errors?.required">
                Complete este campo, por favor.
              </small>
        </div>
        <div class="form-group p-3" *ngIf="consumingMedicine == 'true'">
            <label>Ingrese el medicamento
                <input type="text" class="form-control" name="medicamentBeingConsumed" formControlName="medicamentBeingConsumed">
                <small *ngIf="isSubmitted && errorControl.medicamentBeingConsumed.errors?.required">
                    Complete este campo, por favor.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Enfermedades Pre-Existentes o Crónicas
                <input type="text" class="form-control" name="illness" formControlName="illness">
            </label>
            <small *ngIf="isSubmitted && errorControl.illness.errors?.required">
                Complete este campo, por favor.
              </small>
        </div>
        <div class="w-100"></div>
        <div class="form-group p-3">
            <label>Seguro
                <select class="form-control" name="affiliatedTo" formControlName="affiliatedTo" [(ngModel)]="affiliatedTo">
                    <option value="IESS">IESS</option>
                    <option value="ISFA">ISFA</option>
                    <option value="private">Privado</option>
                </select>
                <small *ngIf="isSubmitted && errorControl.affiliatedTo.errors?.required">
                    Complete este campo, por favor.
                </small>
            </label>
        </div>
        <div class="form-group p-3" *ngIf="affiliatedTo == 'private'">
            <label>Ingrese su seguro privado
                <input type="text" class="form-control" name="affiliatedToPrivate" formControlName="affiliatedToPrivate">
                <small *ngIf="isSubmitted && errorControl.affiliatedToPrivate.errors?.required">
                    Complete este campo, por favor.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <h4>¿Posee carnet de Conadis? </h4>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="conadisLicense" [(ngModel)]="conadisLicense" formControlName="conadisLicense" id="CBcarnetSi" value="true">
                <label class="form-check-label" for="CBcarnetSi">Sí</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="conadisLicense" [(ngModel)]="conadisLicense" formControlName="conadisLicense" id="CBcarnetNo" value="false">
                <label class="form-check-label" for="CBcarnetNo">No</label>
              </div>
              <small *ngIf="isSubmitted && errorControl.conadisLicense.errors?.required">
                Complete este campo, por favor.
              </small>
        </div>
        <div class="form-group p-3" *ngIf="conadisLicense == 'true'">
            <label>Discapacidad
                <input type="text" class="form-control" name="disability" formControlName="disability">
                <small *ngIf="isSubmitted && errorControl.disability.errors?.required">
                    Este campo es necesario.
                </small>
            </label>
        </div>
        <div class="form-group p-3" *ngIf="conadisLicense == 'true'">
            <label>Porcentaje de discapacidad
                <input type="number" min="1" max="99" maxlength="2" class="form-control" name="disabilityPer" formControlName="disabilityPer" maxlength="2">
                <small *ngIf="isSubmitted && errorControl.disabilityPer.errors?.required">
                    Este campo es necesario.
                </small>
                <small *ngIf="isSubmitted && errorControl.disabilityPer.errors?.pattern">
                    Válido de 1 a 99.
                </small>
            </label>
        </div>
        <div class="form-group p-3">
            <label>Jubilación
                <select class="form-control" name="retirement" [(ngModel)]="retirement" formControlName="retirement">
                    <option value="true">Si</option>
                    <option value="false">No</option>
                </select>
            </label>
            <small *ngIf="isSubmitted && errorControl.retirement.errors?.required">
                Complete este campo, por favor.
            </small>
        </div>
        <div class="form-group p-3" *ngIf="retirement == 'true'">
            <label>Tipo de Jubilación
                <select class="form-control" name="retirementDetails" formControlName="retirementDetails">
                    <option value="IESS">IESS</option>
                    <option value="ISFA">ISFA</option>
                </select>
            </label>
            <small *ngIf="isSubmitted && errorControl.retirementDetails.errors?.required">
                Complete este campo, por favor.
            </small>
        </div>
        <div class="w-100" style="float: left;"><button type="submit" class="btn btn-primary">Siguiente</button></div>
        <br><br>
      </form>
    </div>
</div>
<div id="preloader" *ngIf="_loadingService.loading$ | async">
    <div id="loader"></div>
</div>