<div class="container">
    <div class="row align-items-center">
        <form class="p-3" [formGroup]="registerForm" (ngSubmit)="submitForm()" novalidate>
            <div class="form-group">
                <h2>Registrarse</h2>
                <label for="exampleInputEmail1">Correo</label>
                <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" required>
                <small *ngIf="isSubmitted && errorControl.email.errors?.required">
                El Email es necesario.
                </small>
                 <small *ngIf="isSubmitted && errorControl.email.errors?.pattern">
                Proporcione una identificación de correo electrónico válido.
                </small>
            </div>
        <button type="submit" class="btn btn-primary">Crear una cuenta</button>
        <br><br>
        <a routerLink="/client">Iniciar Sesión</a>
        <br>
        <a routerLink="/client/dashboard">Panel de administración</a>
        </form>
    </div>
</div>