<div class="container">
    <div class="row align-items-center">
      <form class="p-3" [formGroup]="codeForm" (ngSubmit)="submitForm()" novalidate>
        <div class="form-group">
          <h2>Ingresa el código de comprobación</h2>
          <label for="codeInput">Correo</label>
          <input type="text" class="form-control" id="codeInput" formControlName="code">
          <small *ngIf="isSubmitted && errorControl.code.errors?.required">
            El Email es necesario.
          </small>
          <small *ngIf="isSubmitted && errorControl.code.errors?.pattern">
            Proporcione una identificación de correo electrónico válido.
          </small>
        </div>
        <button type="submit" class="btn btn-danger">Ingresar</button>
      </form>
    </div>
  </div>