/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(./assets/images/bg.png);
    background-attachment: fixed;
}
small {
    color: #dc3545;
    position: absolute;
}
input.ng-invalid.ng-touched {
    border-color: #dc3545;
    color: #dc3545;
}
input.ng-invalid.ng-touched:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69,.25);
}
input.ng-valid.ng-touched:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69,.25);
}